<script>
    var vidCount = -1;
    var vidCountArray = [];
</script>
<% data.myVidArray.forEach(function(obj) { %>
    <script>
        vidCount += 1;
        vidCountArray.push(vidCount);
        console.log("video count " + vidCount);
    </script>
    <div class="item center">
        <video class="smallFrame" class="embed-responsive-item" src="<%= obj.videoURL %>" type="video/mp4" controls>
            Somethings Wrong.
        </video>
        <div>
            <h3><%= obj.videoTitle %></h3>
            <p> <%= obj.videoBlurb %></p>
        </div>
    </div>
<% }); %>


<% data.myNoticeArray.forEach(function(obj) { %>
    <div class="item center">
        <div class="newsPanel">
            <hidden class="hidden"><%= obj._id %></hidden>
            <h3 class="newsTitle"><%= obj.noticeTitle %></h3>
            <p class="newsContentPara"><%= obj.noticeContent.substring(0,300) %></p>
            <p class="newsAuthor"><i>Written by - <%= obj.noticeAuthor %></i></p>
        </div>
    </div>

<% }); %>


