<html>
<head>
    <title>arrgg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<div id="controlBlock">
    <button type="button" class="addBlock"> +</button>
    <button type="button" class="removeBlock"> -</button>
</div>
<form id="blockForm" action="/updater" method="POST" class="formUpdater" enctype="multipart/form-data" id="updaterForm">
    <h1><%= dat.pageName %></h1>
    <label for="pageTitle">Title</label>
    <input type="hidden" name="pageName" value="<%= dat.pageName %>">
    <textarea name="pageTitle" id="pageTitle"><%= dat.pageTitle %></textarea>
    <label for="footNote">Footer</label>
    <textarea name="footNote" id="footNote"><%= dat.footNote %></textarea>
    <br/>
    <script>
        var someCount = 0;
        var countee = 0;
        console.log("jere");
    </script>
    <ul id="sortable">
        <% for(var blockId in dat.pageContent){ %>
        <% var selected; %>
        <%  if(dat.pageContent[blockId].indexOf('<h3>') === -1 && dat.pageContent[blockId].indexOf('<img') === -1 &&
                dat.pageContent[blockId].indexOf('<video') === -1 && dat.pageContent[blockId].indexOf('<a') === -1
                && dat.pageContent[blockId].indexOf('<hr/>') === -1) {
            selected = 'text';
        }else if(dat.pageContent[blockId].indexOf('<h3>') === -1 && dat.pageContent[blockId].indexOf('<video') === -1
                && dat.pageContent[blockId].indexOf('<a') === -1 && dat.pageContent[blockId].indexOf('<hr/>') === -1){
            selected = 'img';
        }else if(dat.pageContent[blockId].indexOf('<h3>') === -1 && dat.pageContent[blockId].indexOf('<a') === -1
                && dat.pageContent[blockId].indexOf('<hr/>') === -1){
            selected = 'vid';
        }else if(dat.pageContent[blockId].indexOf('<a') === -1 && dat.pageContent[blockId].indexOf('<hr/>') === -1){
            selected = 'sub';
        }else if(dat.pageContent[blockId].indexOf('<hr/>') === -1) {
            selected = 'link';
        }else{
            selected = 'break';
        }%>
        <li class="editBlock">
            <select class="options">
                <option value="text">Text</option>
                <option value="sub">Sub</option>
                <option value="img">Image</option>
                <option value="vid">Video</option>
                <option value="link">Link</option>
                <option value="break">Break</option>
            </select>
            <script>
                $('.editBlock select')[someCount].value = "<%= selected.toString() %>";
                someCount++;
            </script>
            <label for="<%- blockId %>"><%- blockId %></label>
            <% var newString = dat.pageContent[blockId].replace(/<h3>|<\/h3>|<center><img class="smallFrame" src="\/images\/|"\/><\/center>|<video class="smallFrame" class="embed-responsive-item" controls type="video\/mp4" src="\/images\/|"><\/video>|<a href="|" class="link">|<\/a>|<hr\/>/gi, '') %>
            <% console.log("NEW THING " + newString )%>
            <textarea class="draggable" name="<%- blockId %>" id="<%- blockId %>"><%- newString %></textarea>
            <button type="button" class="moveUp glyphicon glyphicon-arrow-up" return="false"></button>
        </li>
        <% }; %>
    </ul>
    <button type="submit">Submit</button>
</form>

</body>
<script>
    var len = $('ul li').length;
    countee = len
</script>
<script src="/js/pageEdit.js"></script>
</html>
