<html>
<head>
    <title>arrgg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<div id="controlBlock">
    <button type="button" class="addBlock"> +</button>
    <button type="button" class="removeBlock"> -</button>
</div>
<form id="blockForm" action="/updater" method="POST" class="formUpdater" enctype="multipart/form-data" id="updaterForm">
    <h1><%= dat.pageName %></h1>
    <label for="pageName">Name: </label>
    <input type="hidden" name="pageName" value="<%= dat.pageName %>">
    <textarea name="pageTitle" id="pageTitle"><%= dat.pageTitle %></textarea>
    <br/>
    <script>
        var countee = 0;
        console.log("jere");
    </script>
    <ul id="sortable">

        <% for(var blockId in dat.pageContent){ %>
        <%  if(dat.pageContent[blockId].indexOf('<h3>') === -1) {
            var checked = '';
        }else{
            var checked = 'checked';
        }%>

        <li class="editBlock">
            <input type="checkbox" class="checky" <%= checked %>>
            <label for="<%- blockId %>"><%- blockId %></label>
            <textarea class="draggable" name="<%- blockId %>" id="<%- blockId %>"><%- dat.pageContent[blockId].replace(/<h3>|<\/h3>/gi, '') %></textarea>
            <button type="button" class="moveUp glyphicon glyphicon-arrow-up" return="false"></button>
        </li>
        <% }; %>
    </ul>
    <button type="submit">Click</button>
</form>

</body>
<script>
    var len = $('ul li').length;
    countee = len;
</script>
<script src="/js/pageEdit.js"></script>
</html>
