<html>
<head>
    <title>Update Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/deadSimpleGrid.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>


<a href="/signout" id="signoutButton" class="btn btn-md btn-danger">Sign out</a>

<h2 class='form-signin-heading'>Video Update</h2>

<form action='/updateVideo' method='POST' enctype="multipart/form-data">
    <fieldset>
        <legend>Video Editor</legend>
        <input type="hidden" name="_id" value="<%= data._id%>">
        <input type="hidden" name="videoTimeStamp" value="<%= data.videoTimestamp %>">
        <input type="text" name='videoTitle' class='form-control' placeholder='Title' value="<%= data.videoTitle %>" required>
        <input type="text" name='videoURL' class='form-control' placeholder='Video Name' value="<%= data.videoURL %>" required>
        <input type='text' name='videoBlurb' class='form-control' placeholder='Blurb' value="<%= data.videoBlurb %>" required>
        <label for="videoFeatured">Video Featured</label>
        <% var checked %>
        <% if(data.videoFeatured){ %>
        <% checked = "checked" }else{%>
        <%checked = ""};%>
        <input type='checkbox' name='videoFeatured' class='checkbox-inline' <%= checked %>>
        <button class='btn btn-lg btn-primary btn-block' type='submit'>Upload Video</button>
    </fieldset>
</form>

</body>
</html>